#!/bin/bash

# maple-mono-nerd hash: {{ include "fonts/maple-mono-nerd.tar.gz" | sha256sum }}

{{ if not (joinPath .chezmoi.homeDir ".local/share/fonts" | stat) }}
  echo "Creating fonts directory"
  mkdir -p "{{ joinPath .chezmoi.homeDir ".local/share/fonts" }}"
{{ end }}

echo "Installing fonts"
tar -xzf "{{ .chezmoi.sourceDir }}/fonts/maple-mono-nerd.tar.gz" -C "{{ joinPath .chezmoi.homeDir ".local/share/fonts" }}"